
{% extends 'shop/shop_base.html' %}
{% load static %}
{% block content %}



<section class="blog-banner-area" id="category">
		<div class="container h-100">
			<div class="blog-banner">
				<div class="text-center">
					<h1>ADD PRODUCT</h1>
					<nav aria-label="breadcrumb" class="banner-breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="#"></a></li>
              <li class="breadcrumb-item active" aria-current="page"></li>
            </ol>
          </nav>
				</div>
			</div>
    </div>
	</section>
	<!-- ================ end banner area ================= -->

  <!--================Login Box Area =================-->
	<section class="login_box_area section-margin">
		<div class="container">
			<div class="row">
				<div class="col-lg-6">
					<div class="">
						              <img class="img-fluid" src=" {% static 'img/home/fish2.png' %} " alt="">

<!--						<div class="hover">-->
<!--							<h4>New to our website?</h4>-->
<!--							<p>There are advances being made in science and technology everyday, and a good example of this is the</p>-->
<!--							<a class="button button-account" href="cus_register.html">Create an Account</a>-->
<!--						</div>-->
					</div>
				</div>
				<div class="col-lg-6">
					<div class="login_form_inner">
						<h3>Add Product Details</h3>
						<form method='post'   class="row login_form" action="" enctype="multipart/form-data">
							{% csrf_token %}
							<div class="col-md-12 form-group">
								<input type="text" class="form-control" id="name" name="name" placeholder="Product Name" onfocus="this.placeholder = ''" onblur="this.placeholder = 'name'" autocomplete="off">
							</div>
							<div class="col-md-12">
                                        <select class="form-select wide" id="default-select" class="" name="category">
                                              {% for d in category %}
                                            <option value="{{d.id}}">{{d.name}} </option>
                                                    {% endfor %}
                                        </select>
                                    </div>
							<div class="col-md-12 form-group">
						   		<input type="file" class="form-control" placeholder="Select" name="image" required>
							</div>
							<div class="col-md-12 form-group">
								<input type="text" class="form-control" id="desc" name="desc" placeholder="Description" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Description'">
							</div>

                            <div class="col-md-12 form-group">
						   		<input type="number" class="form-control" placeholder="Price" name="price" required>
							</div>

                            <div class="col-md-12 form-group">
						   		<input type="number" class="form-control" placeholder="Stock" name="stock" required>
							</div>

							<div class="col-md-12 form-group">
								<button type="submit" value="submit" class="button button-login w-100">Add Product</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</section>
 {% endblock %}